{{ 'custom_cart_drawer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<script src="{{ 'custom_cart_drawer.js' | asset_url }}" defer></script>

<custom-cart-drawer class="--initial-closed">
    <i class="fa-solid fa-xmark cart-drawer__close-button"></i>
    <div class="cart-drawer__cart-header">
      <h1>Cart: <span class="cart-drawer__item-count">{{ cart.item_count }}</span></h1>
    </div>
    <hr />
    <div class="cart-drawer__cart-body">
      <div class="cart-drawer__item-list">
        {% for item in cart.items %}
        <custom-cart-item
          data-title="{{ item.title }}"
          data-quantity="{{ item.quantity }}"
          data-image="{{ item.image | image_url }}"
          data-final-price="{{ item.final_price }}"
          data-final-line-price="{{ item.final_line_price }}"
          data-key="{{ item.key }}"
        ></custom-cart-item>
        {% endfor %}
      </div>
    </div>
    <div
      class="cart-drawer__cart-footer"
      style="background-color: {{ block.settings.primary-colour }}"
    >
      <a href="/checkout" class= "cart-drawer__checkout-button">Checkout</a>
    </div>
</custom-cart-drawer>
